# gitignore clean version
__pycache__/
*.py[cod]
.env
.venv
venv/
env/
node_modules/
dist/
.DS_Store
*.pdf
*.docx
!backend/supabase_schema.sql
backend/models/*.pkl
backend/uploads/
.vscode/
.idea/
frontend/public/ort/*.wasm
.pytest_cache/